* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.option {
  border: 5px solid black;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option:hover {
  border: 8px solid black;
}
