.theform {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

* {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

.thecenter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .other , .thecenter {
      display: block;
  }

  .other {
      position: relative;
  }