.theform {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

* {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

.letter {
    text-align: center;
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    
}